<%= form_with(model: [@course, @group], local: true, html: { class: 'form-horizontal' }) do |form| %>
  <div class="modal-body">
    <div class="form-group">
      <%= form.label :name, "Group Name", class: 'control-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :start_date, "Start Date", class: 'control-label' %>
      <%= form.date_field :start_date, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :end_date, "End Date", class: 'control-label' %>
      <%= form.date_field :end_date, class: 'form-control' %>
    </div>

    <% Date::DAYNAMES.each_with_index do |day, index| %>
      <div class="form-check">
        <%= form.check_box :recurrence_days, { multiple: true, class: 'form-check-input day-checkbox', id: "day_checkbox_#{index}", data: { target: "day_times_#{index}" } }, day, nil %>
        <%= form.label :recurrence_days, day, class: 'form-check-label', for: "day_checkbox_#{index}" %>
      </div>

      <div id="day_times_<%= index %>" class="day-times mt-2" style="display: none;">
        <div class="row">
          <div class="col-md-6">
            <%= label_tag "group[start_times][#{day}]", "#{day} Start Time", class: 'control-label' %>
            <%= time_field_tag "group[start_times][#{day}]", nil, class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= label_tag "group[end_times][#{day}]", "#{day} End Time", class: 'control-label' %>
            <%= time_field_tag "group[end_times][#{day}]", nil, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= form.submit "Create Group", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('.day-checkbox').change(function() {
      var targetId = $(this).data('target');
      $('#' + targetId).toggle(this.checked);
    });
  });
</script>
