<% isActive = (@single_room && @single_room.participant?(@single_room, teacher)) ? 'active' : '' %>
<li class="list-group-item d-flex align-items-center user_list_item <%= isActive %>">
  <div class="img_cont">
    <% if teacher.profile_picture_url.present? %>
         <%= image_tag teacher.profile_picture_url, class: 'rounded-circle user_img_msg' %>
    <%else%>
        <%= image_tag("brand/icanacademy.png", class: "rounded-circle user_img_msg") %>
    <% end %>    <% if teacher.active? %>
      <span class="online_icon"></span>
    <% end %>
  </div>
  <div class="user_info">
    <%= link_to "#{teacher.first_name} #{teacher.last_name}", teacher_path(teacher), class: 'mr-auto username' %>
    <small class="text-muted"><%= teacher.active? ? 'Online' : 'Offline' %></small>
  </div>
</li>
