<style>
  .table-container {
    margin: 20px auto;
    max-width: 900px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }

  .table-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    background-color: #f8f9fa;
  }

  th, td {
    padding: 15px;
    text-align: left;
  }

  th {
    font-weight: bold;
    color: #343a40;
    border-bottom: 2px solid #dee2e6;
  }

  td {
    border-bottom: 1px solid #dee2e6;
  }

  tr:nth-child(even) {
    background-color: #f8f9fa;
  }

  .btn {
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 0.9rem;
  }

  .btn-approve {
    background-color: #28a745;
    color: white;
  }

  .btn-approve:hover {
    background-color: #218838;
  }

  .btn-decline {
    background-color: #dc3545;
    color: white;
  }

  .btn-decline:hover {
    background-color: #c82333;
  }

  @media (max-width: 768px) {
    .table-container {
      width: 100%;
      padding: 10px;
    }

    table {
      font-size: 0.9rem;
    }

    th, td {
      padding: 10px;
    }
  }
</style>

<div class="table-container">
  <div class="table-header">
    Pending Enrollments
  </div>
  <table>
    <thead>
      <tr>
        <th>Student</th>
        <th>Group</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @pending_enrollments.each do |enrollment| %>
      <% if current_user.id == Course.find(Group.find_by(id: enrollment.group_id).course_id).teacher_id %>
        <tr>
          <td><%= enrollment.student.first_name %> <%= enrollment.student.last_name %></td>
          <td><%= enrollment.group.name %></td>
          <td class="d-flex">
            <%= button_to 'Approve', approve_by_teacher_enrollment_path(enrollment, group_id: enrollment.group_id), method: :put, class: 'btn btn-approve mr-2', form: { data: { turbo: false } } %>
            <%= button_to 'Decline', decline_by_teacher_enrollment_path(enrollment), method: :put, class: 'btn btn-decline', form: { data: { turbo: false } } %>
          </td>
        </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>
