<style>
.table-wrapper {
  margin: 20px auto;
  max-width: 80%;
}
.table thead th {
  text-transform: uppercase;
  font-size: 0.85rem;
}
.table tbody td {
  vertical-align: middle;
}
.actions a {
  margin-right: 10px;
}
.actions a:last-child {
  margin-right: 0;
}
</style>

<div class="container">
<div class="table-wrapper">
  <h1 class="my-4 text-center">My Courses</h1>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= link_to course.title, course, class: 'text-decoration-none text-dark' %></td>
          <td><%= course.description %></td>
          <td class="actions">
            <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning' %>
            <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= link_to 'New Course', new_course_path, class: 'btn btn-primary btn-lg mt-3' %>
  </div>
</div>
</div>
